#selected-note-id {
	display: none;
}

body {
	overflow: auto;
	max-height: 100vh;

	padding-left: 4px;
	padding-right: 4px;

	scrollbar-color: var(--joplin-color3) var(--joplin-background-color3);
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	/* Select a color that should be visible against the panel background, but not too bright. */
	background-color: color-mix(in srgb, var(--joplin-color) 50%, rgba(100, 100, 100, 0.3));
	border-radius: 4px;
}

table {
	border-spacing: 0;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}

table tbody > :nth-child(2n),
table thead {
	background-color: rgba(0, 0, 0, 0.1);
}

table td,
table th {
	border: 1px solid var(--joplin-color);
	margin: 0;
	padding: 9px;
}

.item-property-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item-property-description > .rawvalue {
	font-family: monospace;
}

.item-property-description > .description {
	font-style: italic;
	opacity: 0.9;
}

.item-id-input-container label {
	opacity: 0.9;
}

.refresh-button {
	border: 1px solid transparent;
	background-color: var(--joplin-background-color4);
	color: var(--joplin-color4);
	cursor: pointer;
}

.refresh-button:active {
	border: 1px solid var(--joplin-color);
}

.item-table-header > .refresh {
	float: right;
}

.more-tools-container {
	margin-top: 20px;
	border-top: 1px solid var(--joplin-color3);
}

.error-message {
	color: var(--joplin-color-error);
	background-color: var(--joplin-warning-background-color);
	font-family: monospace;

	font-weight: bold;
	border-radius: 3px;
	padding: 2px;
}

.command-output {
	font-family: monospace;
	background-color: black;
	color: white;
	padding: 0;
}

.command-output > .log.-error {
	color: var(--joplin-color-error);
	background-color: var(--joplin-warning-background-color);
}

.command-button {
	margin: 5px;
}

details > summary {
	cursor: pointer;
}

details[open] {
	margin: 2px;
	padding: 5px;

	border-radius: 2px;
	border: 1px solid var(--joplin-color2);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.search-query-builder {
	margin-bottom: 3px;
}

.search-query-builder > .advanced {
	opacity: 0.9;
}
