#selected-note-id {
	display: none;
}

body {
	overflow: auto;
	max-height: 100vh;

	scrollbar-color: var(--joplin-color3) var(--joplin-background-color3);
	scrollbar-width: thin;
}

table {
	border-spacing: 0;
	padding: 3px;
}

table tbody > :nth-child(2n),
table thead {
	background-color: rgba(0, 0, 0, 0.1);
}

table td,
table th {
	border: 1px solid var(--joplin-color);
	margin: 0;
	padding: 9px;
}

.item-property-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item-property-description > .rawvalue {
	font-family: monospace;
}

.item-property-description > .description {
	font-style: italic;
	opacity: 0.9;
}

.item-id-input-container label {
	opacity: 0.9;
}
